{{- $sources := slice
  (resources.Get "css/00-settings/layers.css")
  (resources.Get "css/00-settings/fonts.css")
  (resources.Get "css/00-settings/tokens.css")
  (resources.Get "css/01-generic/reset.css")
  (resources.Get "css/02-elements/document.css")
  (resources.Get "css/02-elements/typography.css")
  (resources.Get "css/03-objects/layout.css")
  (resources.Get "css/04-components/site-header.css")
  (resources.Get "css/04-components/home.css")
  (resources.Get "css/04-components/content-list.css")
  (resources.Get "css/05-pages/content.css")
  (resources.Get "css/05-pages/cover.css")
  (resources.Get "css/05-pages/field-notes.css")
  (resources.Get "css/05-pages/statement.css")
  (resources.Get "css/05-pages/zine.css")
  (resources.Get "css/06-utilities/accessibility.css")
-}}
{{- $styles := $sources | resources.Concat "css/studio.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">

