<!doctype html>
<html
  lang="{{ site.Language.LanguageCode | default site.Language.Lang }}"
  dir="{{ site.Language.LanguageDirection | default "ltr" }}"
>
  <head>
    {{ partial "site/head.html" . }}
    {{ block "head" . }}{{ end }}
  </head>
  <body class="site kind-{{ .Kind }}{{ with .Section }} section-{{ . | urlize }}{{ end }}">
    <a class="skip-link" href="#main-content">{{ i18n "skipToContent" }}</a>
    {{ block "site-header" . }}{{ partial "site/header.html" . }}{{ end }}

    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "site-footer" . }}{{ partial "site/footer.html" . }}{{ end }}
  </body>
</html>
